@model ShoppingCartApp.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}

<h2>Edit Product</h2>

<form asp-action="Edit" enctype="multipart/form-data" method="post">
    <img src="@ViewBag.viewImage" alt="Product Image" style="max-width: 300px;"/>
    <div class="form-group">
        <label asp-for="ProductName" class="control-label"></label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductImage" class="control-label">Upload Image</label>
        <input type="file" id="imageFile" name="imageFile" class="form-control-file" />
        <span asp-validation-for="ProductImage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" value="Edit" class="btn btn-primary">Update Product</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
    <input type="hidden" asp-for="ProductImage" value="@ViewBag.viewImage" />
    <img id="imagePreview" class="preview" src="#" alt="New Selected Image" style="max-width: 300px;"/>
</form>

@section Scripts {
    <script>
        document.getElementById('imageFile').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                
                reader.onload = function(e) {
                    const imagePreview = document.getElementById('imagePreview');
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                };
                
                reader.readAsDataURL(file);
            } else {
                document.getElementById('imagePreview').style.display = 'none';
            }
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}
